<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>盒外 / {{ page.title }}</title>
   <link href="http://outofbox.guohead.com/atom.xml" rel="alternate" title="盒外：果合的移动技术和产品博客" type="application/atom+xml" />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div id="header">
    <div class="navigation">
      <ul id="nav">
        <li><a class="active_tab" href="#">盒外</a></li>
        <li><a class="inactive_tab" href="http://blog.guohead.com/about">关于果合</a></li>
        <li><a class="inactive_tab" href="http://blog.guohead.com">果合博客</a></li>
        <li><a class="inactive_tab" href="http://guohead.com/jobs">加入团队</a></li>
        <li><a class="inactive_tab" href="http://ghmob.com">回到果合</a></li>
    </div>
    <div class="banner">
      <h1>盒外</h1>
    </div>
  </div>
  <div id="box">
    <div id="content">
    {{ content }}
    </div>
    <div id="sidebar">
      <ul class="linkroll">
        <li><a href="/index.html">首页</a></li>
        <li><a href="/archive.html">文章存档</a></li>
        <li><a href="/about.html">关于盒外<a></li>
        <li><a href="/atom.xml">RSS / Atom</a></li>
      </ul>
    </div>
    <div id="footer">
      <p>移动开发 产品设计 用户体验 :: 由 <a href="http://pages.github.com">Github Pages</a> 驱动 :: &copy; 2011 果合开发团队 :: 京ICP证100255号</p>
    </div>
  </div>
</body>
</html>
